@model Veterinary.Models.Vet

<div>
    <a asp-controller="Vet" asp-action="AddClient" class="btn">Add Client</a>
</div>

@*<h1 class="mb-3 fs-1">Vet.name's Clients</h1>

<div class="container p-0">
    <div class="card mt-3">
  <div class="card-body fs-3"> 
    <h5 class="card-title fs-2">Client Name</h5>
    <h6 class="card-subtitle mb-2 text-muted fs-2">Pet1, pet2, pet3</h6>
    <p class="card-text">Upcoming vaccines / operations</p>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body fs-3"> 
    <h5 class="card-title fs-2">Client Name</h5>
    <h6 class="card-subtitle mb-2 text-muted fs-2">Pet1, pet2, pet3</h6>
    <p class="card-text">Upcoming vaccines / operations</p>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body fs-3"> 
    <h5 class="card-title fs-2">Client Name</h5>
    <h6 class="card-subtitle mb-2 text-muted fs-2">Pet1, pet2, pet3</h6>
    <p class="card-text">Upcoming vaccines / operations</p>
  </div>
</div>
</div>*@
