<div class="text-center">
	<h1 class="fs-1">Veterinary Automation System</h1>
	<h2 class="fs-2 text-secondary">Manage your clients and their pets easily!</h2>
	<div class="fs-3">
		<a asp-controller="Home" asp-action="Login" style="">Login</a>
		or
		<a asp-controller="Home" asp-action="Register" style="">create an account.</a>
	</div>
</div>